= render 'layouts/navbar', greeting: @greeting
.container#article-container
  - if @articles.present?
    = render 'articles', articles: @articles
  - else
    %p.text-center Oopps. There is no article at the moment
    %p.text-center
      Redirect to
      = link_to 'all articles', root_path
