// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Media Query Ranges
$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.card-column {
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
  .card {
    display: inline-block;
    overflow: visible;
  }
}

@media #{$small-and-down} {
  .card-column {
    @include column-count(1);
  }
}
@media #{$medium-and-up} {
  .card-column {
    @include column-count(2);
  }
}
@media #{$large-and-up} {
  .card-column {
    @include column-count(3);
  }
}


/// Styles for demo
.text-center {
  text-align: center;
}

nav {
  position: relative;
  top: 0;
  transition: background-color .3s, opacity .2s, visibility 0s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 10;
  background: url(#{asset_path("klcc.jpg")}) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: -webkit-fill-available;
  .nav-wrapper {
    background-color: rgba(0, 0, 0, 0.42);
  }
}

nav.nav-extended {
  height: inherit;
}

nav.ed {
  transition: background-color .3s, opacity .2s, visibility 0s .2s;
  opacity: 0;
  visibility: hidden
}

.nav-header p {
  padding: 100px 0;
}

// nav.nav-full-header {
//   height: 100%
// }

// nav.nav-full-header .nav-header {
//   height: calc(100% - 128px)
// }

// nav.nav-full-header~.nav-categories {
//   top: -64px
// }

nav ul:not(.indicators) li.k {
  position: relative;
  background-color: transparent
}

nav ul:not(.indicators) li.k::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background-color: #fff
}

// nav .nav-background {
//   overflow: hidden;
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   z-index: -1;
//   // opacity: .1;
//   height: 700px;
// }

nav .nav-background img, nav .nav-background .ea {
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  // -webkit-filter: grayscale(100%);
  // filter: grayscale(100%);
  transition: opacity .7s
}

nav .nav-background img.k, nav .nav-background .ea.k {
  opacity: 1
}

nav .nav-background .ea {
  top: 0;
  bottom: 0;
  -webkit-transform: none;
  transform: none;
  background-size: cover;
}

nav .nav-header {
  clear: both;
  padding: 40px;
}

nav .nav-header h1 {
  font-size: 56px;
  font-weight: 600;
}

nav .nav-header .ge {
  display: block;
  margin: -40px 0 40px 0;
  color: rgba(255, 255, 255, 0.8);
}

.bt {
  float: right !important
}
