%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text Malaysia News
  .footer-copyright
    .container
      %p
        Powered by NewsAPI.org
        %br/
        = link_to 'https://newsapi.org/', 'https://newsapi.org/'
