%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text Malaysia News
  .footer-copyright
    .container
      %p
        Powered by
        = link_to 'NewsAPI.org', 'https://newsapi.org/', style: 'color: inherit;'
