%footer.page-footer
  .container
    .row
      .col.l6.s12
        %h5.white-text Malaysia News @ #{year}
  .footer-copyright
    .container
      %p= link_to 'Admin Portal', admin_root_path
      %p
        Powered by
        = link_to 'NewsAPI.org', 'https://newsapi.org/', style: 'color: inherit;'
      %p
        Credit to
        = link_to 'JohnLKong', 'http://www.johnlkong.com/', style: 'color: inherit'
        for cover photo
