%nav.blue.darken-4
  .nav-wrapper
    = link_to 'Malaysia News', '/', class: 'brand-logo', id: 'brand-logo'
    %ul#nav-mobile.right.hide-on-med-and-down
      %li= link_to 'Seaches', searches_path
      %li= link_to 'Articles', articles_path
      %li= link_to 'Sources', sources_path
      